@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c4c3c3;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #035ca5;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #63718d;
}
